# System Files
*.python-version
.vscode
.DS_Store
**/.DS_Store
*.dir

# behavioral simulator
behavioral_simulator/target
behavioral_simulator/result
.direnv
behavioral_simulator/vendor
behavioral_simulator/testbench/build/
